/* Start Global Rules */
/* Start Variables */
:root {
    --main-color: #10cab7;
    --secondary-color: #2c4755;
    --section-background: #F6F6F6;
    --text-main-color: #333;
    --text-second-color: #777;
    --light-color: #DDD;
    --section-padding: 60px;
    --transition-duration: 0.3s;
}
/* End Variables */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*::selection {
    background-color: rgb(16, 202, 183, 0.5);
    color: white;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Work Sans', sans-serif;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* Start Components */
.special-heading {
    color: #ebeced;
    text-align: center;
    font-weight: 800;
    font-size: 100px;
    margin: 0;
    letter-spacing: -3px;
}
.special-heading + p {
    font-size: 20px;
    color: #797979;
    text-align: center;
    margin: -30px 0 0;
}
@media (max-width: 767px) {
    .special-heading {
        font-size: 60px;
    }
    .special-heading + p {
        margin-top: -15px;
    }
}
/* End Components */
/* Start Scrollbar Design */
::-webkit-scrollbar {
    width: 12px;
}
@media (max-width: 1199px) {
    ::-webkit-scrollbar {
        width: 10px;
    }
}
::-webkit-scrollbar-track {
    background-color: #CCC;
    box-shadow: inset 0 0 5px rgba(190, 190, 190, 0.452);
}
::-webkit-scrollbar-thumb {
    background-color: rgba(16, 202, 183, 0.3);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--main-color);
}
/* End Scrollbar Design */
/* End Global Rules */
/* Start Header */
.header {
    padding: 20px;
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .container .logo {
    width: 60px;
}
.header .container .links {
    position: relative;
}
.header .container .links:hover .icon span:nth-of-type(2) {
    width: 100%;
}
.header .container .links .icon {
    width: 30px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.header .container .links:hover ul {
    display: block;
}
.header .container .icon span {
    background-color: #333;
    margin-bottom: 5px;
    height: 2px;
}
.header .container .links .icon span:first-of-type,
.header .container .links .icon span:last-of-type {
    width: 100%;
}
.header .container .links .icon span:nth-of-type(2) {
    width: 60%;
    transition: var(--transition-duration);
    -webkit-transition: var(--transition-duration);
    -moz-transition: var(--transition-duration);
    -ms-transition: var(--transition-duration);
    -o-transition: var(--transition-duration);
}
.header .container .links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: var(--section-background);
    position: absolute;
    right: 0;
    min-width: 200px;
    top: calc(100% + 15px);
    z-index: 1;
    display: none;
}
.header .container .links ul::before {
    content: "";
    position: absolute;
    border: 10px solid;
    border-color: transparent transparent var(--section-background) transparent;
    top: -20px;
    right: 5px;
}
.header .container .links ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: var(--text-main-color);
    transition: var(--transition-duration);
    -webkit-transition: var(--transition-duration);
    -moz-transition: var(--transition-duration);
    -ms-transition: var(--transition-duration);
    -o-transition: var(--transition-duration);
}
.header .links ul li:not(:last-child) a {
    border-bottom: 1px solid var(--light-color);
}
.header .container .links ul li a:hover {
    padding-left: 25px;
}
/* End Header */
/* Start Landing */
.landing {
    height: calc(100vh - 64px);
    background-image: url(../images/mountain.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    position: relative;
}
.landing .intro-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    text-align: center;
    width: 320px;
    max-width: 100%;
}
.landing .intro-text h1 {
    color: var(--main-color);
    font-size: 50px;
    font-weight: bold;
    margin: 0;
}
.landing .intro-text p {
    color: var(--text-main-color);
    font-size: 19px;
    line-height: 1.8;
}
/* End Landing */
/* Start Features */
.features {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}
.features .container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
}
.features .feat {
    padding: 20px;
    text-align: center;
}
.features .feat i {
    font-size: 300%;
    color: var(--main-color);
}
.features .feat h3 {
    font-weight: 800;
    margin: 30px 0;
}
.features .feat p {
    line-height: 1.8;
    color: var(--text-second-color);
    font-size: 17px;
}
/* End Features */
/* Start Services */
.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.services .services-content {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    margin-top: 100px;
}
.services .services-content .col .srv {
    display: flex;
    margin-bottom: 40px;
}
@media (max-width: 767px) {
    .services .services-content .srv {
        flex-direction: column;
        text-align: center;
    }
}
.services .services-content .col .srv i {
    font-size: 180%;
    color: var(--main-color);
    flex-basis: 60px;
}
.services .services-content .col .srv .text {
    flex: 1;
}
.services .services-content .col .srv .text h3 {
    margin: 0 0 20px;
}
.services .services-content .col .srv .text p {
    line-height: 1.6;
    font-weight: 300;
    color: var(--text-second-color);
}
.services .services-content .col .image {
    position: relative;
    text-align: center;
}
@media (max-width: 1199px) {
    .services .services-content .col .image {
        display: none;
    }
}
.services .services-content .col .image::before {
    content: "";
    position: absolute;
    background-color: var(--secondary-color);
    width: 100px;
    height: calc(100% + 100px);
    top: -50px;
    right: 0;
    z-index: -1;
}
.services .services-content .col .image img {
    width: 260px;
}
/* End Services */
/* Start Portfolio */
.portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}
.portfolio .portfolio-content {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    margin-top: 80px;
}
.portfolio .portfolio-content .card {
    background-color: white;
}
.portfolio .portfolio-content .card img {
    max-width: 100%;
}
.portfolio .portfolio-content .card .info {
    padding: 20px;
}
.portfolio .portfolio-content .card .info h3 {
    margin: 0;
}
.portfolio .portfolio-content .card .info p {
    color: var(--text-second-color);
    line-height: 1.8;
    margin-bottom: 0;
}
/* End Portfolio */
/* Start About */
.about {
    padding-top: var(--section-padding);
    padding-bottom: calc(var(--section-padding) + 60px);
}
.about .about-content {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media (max-width: 991px) {
    .about .about-content {
        flex-direction: column;
        text-align: center;
    }
}
.about .about-content .image {
    position: relative;
    width: 250px;
    height: 375px;
}
@media (max-width: 991px) {
    .about .about-content .image {
        margin: 0 auto 60px;
    }
}
.about .about-content .image::before {
    content: "";
    position: absolute;
    width: 100px;
    height: calc(100% + 80px);
    top: -40px;
    left: -20px;
    background-color: var(--section-background);
    z-index: -1;
}
.about .about-content .image::after {
    content: "";
    position: absolute;
    width: 120px;
    height: 300px;
    top: -40px;
    right: -150px;
    border-left: 60px solid var(--main-color);
    border-bottom: 60px solid var(--main-color);
    z-index: -1;
}
@media (max-width: 991px) {
    .about .about-content .image::before,
    .about .about-content .image::after {
        display: none;
    }
}
.about .about-content .image img {
    max-width: 100%;
}
.about .about-content .text {
    flex-basis: calc(100% - 500px);
}
.about .about-content .text p:first-of-type {
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
}
.about .about-content .text hr {
    display: inline-block;
    border-color: var(--main-color);
    width: 50%;
}
.about .about-content .text p:last-of-type {
    line-height: 2;
    color: var(--text-second-color);
}
/* End About */
/* Start Contact */
.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}
.contact .info {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
}
.contact .info .label {
    font-size: 40px;
    font-weight: 800;
    color: var(--secondary-color);
    letter-spacing: -2px;
    margin-bottom: 15px;
}
.contact .info .link {
    text-decoration: none;
    color: var(--main-color);
    display: block;
    font-size: 35px;
    font-weight: 800;
    margin-bottom: -10px;
}
.contact .info .social {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 16px;
}
.contact .info .social i {
    margin-left: 10px;
    color: var(--secondary-color);
}
@media (max-width: 767px) {
    .contact .info .label,
    .contact .info .link {
        font-size: 25px;
    }
}
/* End Contact */
/* Start Footer */
.footer {
    text-align: center;
    padding: 30px 10px;
    background-color: var(--secondary-color);
    font-size: 18px;
    color: white
}
.footer span {
    color: var(--main-color);
    font-weight: bold;
}
/* End Footer */